body {
  font-family: "Noto Sans JP", sans-serif;
}

img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.site-inner {
  width: 90%;
  margin: 0 auto 100px;
}

.site-ttl {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.container {
  @include medium {
    width: 94%;
    margin: 0 auto;
  }

  @include large {
    max-width: 960px;
    margin: 0 auto;
  }
}
